img {
  width: 50em;
  height: 25em;
}

p {
  font-size: 2em;
}

.pictureDiv {
  text-align: center;
}

.allImg {
  margin-top: 5em;
}

/* next & pre buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  color: black;
  background-color: #929393;
  font-size: 4vh;
  user-select: none;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1vh;
}

/* Position the next button on the right */
.next {
  right: 0;
}
